/* Header.module.css */

/* Style for header wrapper */
.wrapper {
    background-color: #fcfdfe;
    padding: 20px; /* Add padding */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Title style */
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #f2505e;
  }
  
  /* Login button style */
  .loginBtn {
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #464c5a;
    background-color: #3e4754;
    border-radius: 1.5rem;
    padding: 10px 20px; /* Add padding */
    color: #f0f4fa;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  /* Login button hover effect */
  .loginBtn:hover {
    background-color: #464c5a;
  }
  
  /* Welcome message style */
  .welcome {
    font-size: 1rem;
    font-weight: bold;
  }
  
  /* Accent color style */
  .accentColor {
    color: #f2505e;
    font-weight: bold;
  }
  